// Your "Home" styles here 👇🏻
//esta clase .CATALOGO esta agregada
//en el componente ALLPRODUCTS
//despues lo ordeno :);
.catalogo {
  margin: 15px;
  display: grid;
  grid-template-columns: auto;
  @include response(small) {
    grid-template-columns: auto auto;
  }

  @include response(medium) {
    margin: 40px;
    grid-template-columns: auto auto auto;
    gap: 80px;
    justify-content: center;
  }
}

.catalogo__title {
  text-align: center;
  font-weight: 900;
  line-height: 50px;
  margin-top: 30px;
  text-transform: uppercase;
}

.catalogo__container {
  text-align: center;
  background-color: black;
  img {
    width: 100%;

    margin-top: 40px;
  }

  h1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .link {
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
  }
}
