// Your "Home" styles here 👇🏻
.catalogo {
  margin: 15px;
  display: grid;
  grid-template-columns: auto;
  @include response(small) {
    grid-template-columns: auto auto;
  }

  @include response(medium) {
    margin: 40px;
    grid-template-columns: auto auto auto;
    gap: 80px;
    justify-content: center;
  }
}

.catalogo__title {
  text-align: center;
  font-weight: 900;
  line-height: 50px;
  margin-top: 30px;
}
