// colors:start
$white: #FFF;
$black: #000;

$colors: (
  white: $white,
  black: $black
);
// colors:end

// breakpoints:start
$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1200px,
  extraLarge: 1440px,
  wide: 2000px,
);
// breakpoints:end

// fonts:start
$font--primary: 'Inter';
// fonts:end

// font-weights:start
$weights: (
  100: '100',
  300: '300',
  400: '400',
  500: '500',
  600: '600',
  700: '700',
);
// font-weights:end