.cartItem{
    display: flex;
    justify-content: space-evenly; 
    cursor: pointer;
    
    .cartItem_buttons{
        display: flex;
        
    }
    .cartItem_button{
        width: 90px;
    }
}