.cart__container {
  
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(140, 33, 33);
  border-radius: 2rem;
  margin: 80px;
  padding: 2rem;
 

  .ejemplo {
    transition: 0.3s;
    padding-left: -110px;
    width: 100px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }
  .cart__title {
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 12px;
  }

  .cart__item {
    margin-top: 15px;
  }

  .total {
    margin-top: 2rem;
    padding-right: 4rem;
    display: grid;
    grid-auto-flow:row;
    grid-column: 4;
    grid-template-columns: 40% 40% 20%;
  }
  .buy_button {
    cursor: pointer;
    height:2rem ;
    width: 9rem;
    background-color: green;
    border: 0;
    
    border-radius: 24px;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: white;
      font-weight: bolder;
      color: black;
      border: 1px solid green;
    }
    &:active{
      transform: scale(1.1);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
      background-color: green;
      border:0
    }
  }
  .cart_buttons{
   display:flex;
   justify-content: space-between;
  }
}

.cart__subtitles{
  display:grid;
    grid-auto-flow:column ;
    grid-column-end:6;
    grid-template-columns: 20% 30%  20% 10% 20%;
    h2{
      text-align: center;
    }
    padding: 1rem;
    border-bottom: solid 3px grey;
    border-radius: 1rem;
}

