.cart__container {
  
  justify-content: space-around;
  align-items: center;
  border: 4px solid #ff0000;
  border-radius: 2rem;
  margin: 80px;
  padding: 90px;

  // color: white;
  // height: 100%;
  // width: 10px;
  // position: fixed;
  // z-index: 1;
  // top: 0;
  // right: 0;
  // background-color: #111;
  // overflow-x: hidden;
  // transition: 0.5s;

  // &--open {
  //   width: 250px;
  //   padding: 20px;
  // }

  .ejemplo {
    transition: 0.3s;
    padding-left: -110px;
    width: 100px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }
  .cart__title {
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 12px;
  }

  .cart__item {
    margin-top: 15px;
  }

  .total {
    margin-top: 50px;
    .log__buttons {
      cursor: pointer;
      display: flex;
      margin-top: 10px;
      button {
        cursor: pointer;
        height: 40px;
        width: 70px;
        border: 0 !important;
      }
    }
  }
  .buy_button {
    cursor: pointer;
    height: 30px;
    width: 90px;
    background-color: rgb(140, 33, 33);
    border: 0;
    border-radius: 24px;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: white;
      color: rgb(140, 33, 33);
      border: 1px solid rgb(140, 33, 33);
    }
    &:active{
      transform: scale(1.1);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
      background-color: red;
      border:0
    }
  }
  .cart_buttons{
    display: flex;
    align-items: center;
  }
}
