
.page_contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-us-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    
    @include response(medium){
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        justify-content: space-around;
        background: white;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 40px;
        padding-right: 40px;
        box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    }
}



.contact-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    h2{
        color:black;
        border-bottom: 2px solid black;
        padding-bottom: 20px;
    }
}
    
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    .send{
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        width:100%;
        height: 30px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0.06rem;
        background:rgb(184, 48, 48);
        color:white;
        box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
        transition:all 0.6s ease;
        &:hover{
            cursor:pointer;
            transform: translateY(5px);
        }
    }
}

.label-input{
    display:flex;
    flex-direction: column;
    width: 100%;
    color:black;
    border-bottom:2px solid rgb(184, 48, 48);
    padding-top: 8px;
    font-weight: 500;
    margin-bottom: 20px;
    input{
        width: 100%;
        border:none;
        background:none;
        color:rgb(71,71,71);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        &:focus{
            border: none;
            outline: none;
        }
    }
    textarea{
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        resize: none;
        border:none;
        height: 60px;
        &:focus{
            border:none;
            outline: none;
        }
    }
}
        


    
    

.icon{
    font-size: 25px;
    padding-right: 5px;
}

.mapa_visit{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .mapa{
        
        @include response(medium){
        width: 90%;
        margin-bottom: 20px;
        }
    }
}

.contact-us-info{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
    background: rgb(71,71,71);
    align-self: center;
    @include response(medium){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
        width: 90%;
        height: 80px;
        background: rgb(71,71,71);
    }
    h2{
        color:white;
        font-size: 18px;
        width:150px;
        margin:5px;
    }
    h3{
        display:flex;
        flex-direction: column;
        width: 150px;
        color:white;
        font-size: 16px;
        font-weight: 400;
        margin:5px;
    }
    .instagram{
        display:flex;
        flex-direction: column;
        a{
            text-align: center;
            color:white;
            text-decoration: none;
        }
    }
        
}
