.nav__brand {
  padding: 0px 20px 0px 20px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include response(medium) {
    flex-direction: row;
  }

  img {
    margin-right: 20px;
  }
}
.wine {
  display: flex;
  align-items: center;
  h1 {
    color: white;
  }
}
.nav__items {
  top: 1;
  right: 0;
}
