.menu {
  // padding: 0px 20px 0px 20px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &--activo {
    background-color: #ededed;
  }

  @include response(medium) {
    flex-direction: row;
    // padding: 0px 20px 0px 20px;
  }

  img {
    margin-right: 20px;
  }
  .item {
    display: none;

    @include response(medium) {
      display: block;
    }
  }

  .example {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu__icon {
    width: 30px;
    right: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    border: 0;
    background: none;
    margin-left: 30px;

    @include response(medium) {
      display: none;
    }

    &.menu__icon--activo {
      span {
        &:first-child {
          top: 9px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: -9px;
          transform: rotate(-45deg);
        }
      }
    }

    span {
      width: 100%;
      height: 2px;
      position: relative;
      margin-bottom: 7px;
      background-color: black;
      transition: all 0.3s ease;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .menu__content {
    position: absolute;
    width: 100%;
    top: 5%;
    padding-top: 42px;
    background-color: #ededed;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 9999;
    height: 100vh;

    &--activo {
      opacity: 1;
      visibility: visible;
      position: relative;
      max-height: 300px;
      overflow-y: auto;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        transition: all 0.5s;

        li {
          padding-bottom: 22px;
          margin-right: 20px;
          list-style-type: none;

          @include response(medium) {
            position: relative;
            x-index: 9999;
          }
          a {
            color: #707070;
          }
        }
      }
    }

    .menu__list {
      display: flex;
      flex-direction: column;
      .item {
        margin-bottom: 60px;
      }
    }
  }
}
.wine {
  display: flex;
  align-items: center;
  h1 {
    color: black;
  }
}
.nav__items {
  top: 1;
  right: 0;
}
