.profile{
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 100px 50px 0px 50px;
  

  @include response(medium) {
    flex-direction: row;
    border: 1px solid rgb(113, 43, 43);
    
  }
  
  

  
}

.imgProfile{
  padding-right: 15px;
}

.profileData{
  color:white;
}

.h3Profile{
  padding-bottom: 10px;
}

.button_admin{
display: flex;
color:white;
padding-left: 180px;
}

