.product {
  display:flex;
  flex-direction: column;
  width: 330px;
  height: 420px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  margin:20px;
  transition: all 0.25s;

  .product__stock {
    background-color: #060b26;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
    

  .product_nostock {
    background-color: rgb(140, 33, 33);
    color: white;
    padding: 10px;
  }
    
    

  .product__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  img{
    width:50%;
    height:50%;
  }
}

.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cartButton{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  button {
    cursor: pointer;
    height: 40px;
    width: 120px;
    background-color: rgb(140, 33, 33);
    border: 0;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    padding-top: 5px;
    &:hover {
      background-color: white;
      color: rgb(140, 33, 33);
      border: 1px solid rgb(140, 33, 33);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}


.cartButton button:active {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(63, 141, 63);
    border:0

}


