.product__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 50px 0px 50px;

  @include response(medium) {
    flex-direction: row;
    border: 1px solid rgb(113, 43, 43);
  }

  .product__data {
    border: 1px solid rgb(133, 14, 14);
    border-radius: 15px;
    max-width: 600px;
    padding: 40px;

    .name__price {
      display: flex;
      justify-content: space-between;
      h1 {
        font-weight: 900;
      }
    }
    .data__description {
      border-top: 1px solid black;
      margin-top: 30px;
      padding-top: 20px;
      text-align: center;
    }
  }

  img {
    width: 267px;
    height: 267px;

    @include response(medium) {
      width: 535px;
      height: 535px;
    }
  }
}

button {
  cursor: pointer;
  height: 35px;
  width: 70px;
  background-color: rgb(140, 33, 33);
  border: 0;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  &:hover {
    background-color: white;
    color: rgb(140, 33, 33);
    border: 1px solid rgb(140, 33, 33);
  }
}

.containerReviews{
  display:flex;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  margin:40px;
  background: chocolate;
}
  
    
